 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
 }
/* Barvy */
 :root { 
   --premium-red: rgb(214, 28, 28);
   --black: black;
   --shadow-black: rgba(0, 0, 0, 0.5);
   --white: white;
   --grey: grey;
   --green: green;
 }

 body {
    position: relative;
 }

 /* Hlavní strana */

 /* Navigace */

 .navigation {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: var(--black);
    top: 0;
 }
   /* Logo */
 .logo {
    text-align: left;
    padding: 5px 10px;
    margin-left: 5px;
 }
 /* Obrázek loga */
 .photo-logo {
    width: 120px;
 }
 /* Registrační tlačitko */
 .registration-button {
    text-align: center;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: var(--premium-red);
    padding: 7px;
    font-size: 16px;
    border-radius: 10px;
 }

 .registration-button a {
    text-decoration: none;
    color: var(--white);
 }


/* Registrace */

/* Pozadí */
.register-background {
   background-color: var(--black);
   color: var(--white);
   height: calc(100vh - 50px);
   margin-top: 50px;


}
/* Systém */
.register-hw {
   width: 90%;
   max-width: 900px;
   margin: auto;
}
/* Formulář */
.register-form {
   padding: 200px 60px 0px 60px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
/* vlastnosti políček */
.register-form input {
   background-color: var(--black);
   font-size: 18px;
   width: 100%;
   height: 50px;
   margin-top: 10px;
   outline: var(--white);
   color: var(--white);
}
/* Vlastnosti políčka pouze submit */
.register-form input[type='submit'] {
   background-color: var(--premium-red);
   color: var(--white);
}

/* Zelená */
.outline-ok {
   border: 2px solid var(--green);
}

/* Červená */
.outline-wrong {
   border: 2px solid var(--premium-red);
}
