 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
 }
/* Barvy */
 :root { 
   --premium-red: rgb(214, 28, 28);
   --black: black;
   --shadow-black: rgba(0, 0, 0, 0.5);
   --white: white;
   --grey: grey;
   --green: green;
 }

 body {
    position: relative;
 }

/*  Movies */

/* Pozadí */
.movies-background {
   background-color: var(--black);
   height: 100%;

}

/* Systém */
.movies-hw {
   width: 90%;
   height: 100vh;
   max-width: 900px;
   margin: auto;

}

/* Tlačitko */
.movies-button {
   text-align: center;
   padding: 50px;
}

.movies-button a {
   color: var(--white);
   background-color: var(--premium-red);
   padding: 10px;
}

/* Doprostřed selectu */
.moviesSelect {
   text-align: center;

}

/* Nabídka vyber si */
.moviesSelect select {
   background-color: var(--black);
   color: var(--white);
   border: 3px solid var(--premium-red);
   width: 150px;
   padding: 10px;
   text-align: center;
   font-size: 22px;
}

/* Obrázky filmů */
#gallery img {
   transition: transform 0.5s linear;
   width: 150px;
   margin: 10px;

}

/* Pokud se podíváme */
#gallery img:hover {
   transform: scale(1.08);
   cursor: pointer;
}

@media(max-width: 432px) {
   .movies-hw {
      height: 100%;
   }
}